<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
<!--        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
        <h1>Atención PPopular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="dashboard"></i><a routerLink="/dashboard">Mural</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Gestión">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/demands">Demandas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Ubicaciones" nzIcon="aim">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/localization/cpopulars">Consejos populares</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/localization/streets">Calles</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/localization/contacts">Contactos</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Nomencladores" nzIcon="aim">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/entities">Organismos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/functionaries">Funcionarios</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/topics">Asuntos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/types">Tipos de caso</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/demand_cases">Casos de denuncia</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/ways">Vías de caso</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nomenclatures/results">Tipos de resultado</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
