.login-row {
  margin: 10em 0 0;
}
.login-form {
  max-width: 300px;
  margin: auto auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-card {
  text-align: center;
}
