<nz-page-header nzTitle="Demandas"
                nzSubtitle="Aquí podrá gestionar el listado de demandas."
                nzBackIcon>

  <nz-page-header-extra>
    <button nz-button (click)="addDemand()"><i nz-icon nzType="plus-circle"></i>Nuevo</button>
    <button nz-button [disabled]="setOfCheckedId.size === 0" nzType="danger"
            nz-popconfirm nzPopconfirmTitle="¿Está segur@ de borrar estos elementos?"
            (nzOnConfirm)="deleteSelection()">
      <i nz-icon nzType="delete"></i>Borrar selección
    </button>
  </nz-page-header-extra>

  <nz-page-header-content>
    <nz-table #basicTable [nzData]="filteredData" [nzLoading]="loading" [nzPageSize]="10"
              (nzCurrentPageDataChange)="onCurrentPageChanged($event)" nzSize="small">
      <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>Nº</th>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzCustomFilter]="column.searchable"
          [nzSortPriority]="column.priority"
        >
          {{ column.name }}
          <nz-filter-trigger [(nzVisible)]="column.searchVisible" [nzActive]="column.searchValue.length > 0"
                             [nzDropdownMenu]="searchMenu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{i+1}}</td>
        <td nzBreakWord>{{data.page}}</td>
        <td nzBreakWord>{{data.number}}</td>
        <td nzBreakWord>{{data.expedient}}</td>
        <td nzBreakWord>{{data.reception_date}}</td>
        <td>
          <label nz-checkbox [(ngModel)]="data.is_anonymous" nzDisabled>{{data.is_anonymous ? 'Si' : 'No'}}</label>
        </td>
        <td nzBreakWord>{{data?.contact?.name}}</td>
        <td nzBreakWord>{{data?.contact?.address?.street?.cpopular?.name || '---'}}</td>
        <td>
          <i nz-icon nzType="edit"></i><a (click)="editDemand(data)"> Modificar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <i nz-icon nzType="delete"></i><a nz-popconfirm
                                            nzPopconfirmTitle="¿Está segur@ de borrar este elemento?"
                                            (nzOnConfirm)="deleteDemand(data.id)"> Borrar</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #searchMenu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Buscar ..." [(ngModel)]="searchValue" (ngModelChange)="onChangeSearch($event)">
          <button nz-button nzSize="small" nzType="primary" class="search-button" (click)="search()">Buscar</button>
          <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </nz-page-header-content>

  <nz-drawer [nzClosable]="false" [nzVisible]="drawer" [nzPlacement]="placement"
             [nzTitle]="drawerTitle" (nzOnClose)="cancelEdit()" [nzWidth]="420">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <label nz-checkbox formControlName="is_anonymous">Es anónimo</label>
          </nz-form-item>
        </div>
      </div>
      <nz-divider nzText="Ubicación"></nz-divider>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Consejo popular</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear
                         nzPlaceHolder="Seleccione un consejo" formControlName="cpopular_id" [nzLoading]="loadingCpopulars">
                <nz-option *ngFor="let item of cpopulars" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
              <!--<ng-template #renderAddCpopularTemplate>
                <nz-divider></nz-divider>
                <div class="container">
                  <input type="text" nz-input #inputCpopularElement>
                  <a class="add-item" (click)="addCpopularItem(inputCpopularElement)"><i nz-icon nzType="plus"></i> Nuevo</a>
                </div>
              </ng-template>-->
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Calle</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear
                         nzPlaceHolder="Seleccione una calle" formControlName="street_id" [nzLoading]="loadingStreets">
                <nz-option *ngFor="let item of streets" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Contacto</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear
                         nzPlaceHolder="Seleccione un contacto" formControlName="contact_id" [nzLoading]="loadingContacts">
                <nz-option *ngFor="let item of contacts" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-divider nzText="Libro"></nz-divider>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Página</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="page" type="text">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Número</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="number" type="text">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Expediente</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="expedient" type="text">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-divider nzText="Datos"></nz-divider>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Tipo</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear
                         nzPlaceHolder="Seleccione un tipo de demanda" formControlName="type_id" [nzLoading]="loadingTypes">
                <nz-option *ngFor="let item of types" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Tipo de denuncia</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear
                         nzPlaceHolder="Seleccione un tipo de denuncia" formControlName="demand_case_id" [nzLoading]="loadingDemandCases">
                <nz-option *ngFor="let item of demandCases" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Vía</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderAddWayTemplate"
                         nzPlaceHolder="Seleccione una vía" formControlName="way_id" [nzLoading]="loadingWays">
                <nz-option *ngFor="let item of ways" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #renderAddWayTemplate>
                <nz-divider></nz-divider>
                <div class="container">
                  <input type="text" nz-input #wayInputElement>
                  <a class="add-item" (click)="addWayItem(wayInputElement)"><i nz-icon nzType="plus"></i> Nueva</a>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Organismo</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderAddAgencyTemplate"
                         nzPlaceHolder="Seleccione un organismo" formControlName="agency_id" [nzLoading]="loadingAgencies">
                <nz-option *ngFor="let item of agencies" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #renderAddAgencyTemplate>
                <nz-divider></nz-divider>
                <div class="container">
                  <input type="text" nz-input #agencyInputElement>
                  <a class="add-item" (click)="addAgencyItem(agencyInputElement)"><i nz-icon nzType="plus"></i> Nuevo</a>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Asunto</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderAddTopicTemplate"
                         nzPlaceHolder="Seleccione un asunto" formControlName="topic_id" [nzLoading]="loadingTopics">
                <nz-option *ngFor="let item of topics" [nzLabel]="item.text" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #renderAddTopicTemplate>
                <nz-divider></nz-divider>
                <div class="container">
                  <input type="text" nz-input #topicInputElement>
                  <a class="add-item" (click)="addTopicItem(topicInputElement)"><i nz-icon nzType="plus"></i> Nuevo</a>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Fecha de recepción</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="reception_date"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired>Texto</nz-form-label>
            <nz-form-control>
              <textarea nz-input rows="2" placeholder="Escriba el texto de la demanda" formControlName="content"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control [nzOffset]="7">
              <button nz-button type="reset" (click)="cancelEdit()">Cancelar</button>
              <button nz-button nzType="primary" type="submit" [disabled]="validateForm.invalid">Guardar</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-drawer>
</nz-page-header>
